.find__contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}

.find__input {
  height: 40px;
  width: 250px;
  border: 1px solid rgba(109, 44, 32, 0.705);
  border-radius: 5px;
  margin-top: 5px;
  font-size: 24px;
}
